<link rel="stylesheet" href="../stylesheets/game.css">

 <div class="quiz-container">
  <div class="question box">
    <p><span>1.</span>{{question}}</p>
  </div>
  <ul class="answers">
    <li class="answer box">
      <p><span>a</span>{{option_1}}</p>
    </li>
    <li class="answer box">
      <p><span>b</span>{{option_2}}</p>
    </li>
    <li class="answer box">
      <p><span>c</span>{{option_3}}</p>
    </li>
  </ul>
  <button class="box">Send<span>&#x203A;</span></button>
</div>
<link rel="stylesheet" href="../stylesheets/game.css">