.submit {
    padding: 0.4rem 1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    background-color: rgb(214, 243, 255);
    border: solid gray 1px;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: larger;
    outline: none;
}

.auth-form {
    width: 30rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    border-radius: 0.5rem;
    border: solid gray 1px;
    max-width: 30rem;
}

.auth-container {
    margin-top: 6%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.text-input {
    border: 1px solid gray;
    border-radius: 0.5rem;
    outline: none;
    padding: 0.6rem;
    margin: 1rem;
    width: 20rem;
    height: 1.3rem;
    font-size: medium;
}

.redBorder {
    border: solid red 1px;
}