<div id="header-container">
    <p class="nav-item" id="title">{{title}}</p>
    <a class="nav-item" href="/">Home</a>
login-logout
    {{#if signed_in}}
    
    {{#if logged_in}}
     <div class="hud">
    Score: <span id="score" class="score">{{score}}</span>
  </div>
</div>
<link rel="stylesheet" href="../../stylesheets/header.css">