<div id="header-container">
    <p class="nav-item" id="title">{{title}}</p>
        <a class="nav-item" href="/">home</a>
    {{#if logged_in}}
    <a class="nav-item" href="/logout">Logout</a>
    {{else}}
    <a class="nav-item" href="/authenticate">Login / Register</a>
    {{/if}}


</div>
<link rel="stylesheet" href="../../stylesheets/header.css">